@model global::Auction.Web.ViewModels.User.UserViewModel

@{
    ViewBag.Title = "Your Details";
}

<div class="container">
    <h2>Your Details</h2>

    @using (Html.BeginForm("CurrentUserDetails", "Users", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col col-md-3">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="row">
            <div class="col col-md-3">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="row">
            <div class="col col-md-3">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
        </div>
            <br />
        if (Model.AvatarFileName != null)
        {
            <img src="@Url.Action("GetImage", "Users", new { fileName = Model.AvatarFileName })" width="248" height="248" alt="Avatar" />
        }
        else
        {
            <span>No avatar uploaded</span>
        }

        <h3>Change Avatar</h3>

        <div class="form-group">
            <div class="col-md-10">
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="file" class="btn btn-success" accept="image/*" />
                    <br />
                    @Html.Submit(new { @class = "btn btn-danger" })
                </form>
            </div>
        </div>
    }

</div>
