@model ICollection<global::Auction.Web.ViewModels.Bid.BidDetailsViewModel>

@foreach (var message in Model)
{
    if (message.Bidder != null && message.Winner != null)
    {
        var receivers = String.Join(", ", message.Bidders.Select(u => u.UserName));
        <li class="list-group-item">
            <div class="well well-lg">
                <p>
                    <strong>@message.CreatedOn</strong>
                </p>

                <p>
                    <strong>from @message.Bidder.UserName to @receivers</strong>
                </p>
                <p>
                    <strong>@message.Winner.UserName</strong>
                </p>
                <p>
                    <strong>@message.Value</strong>
                </p>
                <p>
                    <strong>@message.CurrentPrice</strong>
                </p>
            </div>
        </li>
    }
}
