<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Live Auction</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jquery.unobtrusive-ajax")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Live Auction", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new{})</li>
                            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { })</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("User Details", "CurrentUserDetails", "Users", new { area = "Admin" }, new { })</li>
                            <li>@Html.ActionLink("All Users", "AllUsers", "Users", new { area = "Admin" }, new { })</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("All Auctions", "ListAllAuctions", "PublicAuction", new { area = "" }, new { })</li>
                    <li>@Html.ActionLink("All Items", "ListAllItems", "PublicItem", new { area = "" }, new { })</li>
                    <li>@Html.ActionLink("Join To Active Auction", "JoinToAuction", "Bid", new { area = "" }, new { })</li>

                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Area<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Create Auction", "CreateAuction", "Auction", new { area = "Admin" }, new { })</li>
                                <li>@Html.ActionLink("Create Item", "CreateItem", "Item", new { area = "Admin" }, new { })</li>
                                <li>@Html.ActionLink("Activate Auction", "SetActiveAuction", "Auction", new { area = "Admin" }, new { })</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Live Auction</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
