@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using Auction.Infrastructure.Helpers
@model Auction.Web.ViewModels.Auction.CreateAuctionModel

<h2>Create Auction</h2>
@if (TempData["Success"] != null)
{
    <div class="row">
        @TempData["Success"]
    </div>
}

<div class="container">
    @using (Html.BeginForm("CreateAuction", "Auction", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.ItemTitle)
            @Html.TextBoxFor(m => m.ItemTitle, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ItemTitle)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.InitialPrice)
            @Html.TextBoxFor(m => m.InitialPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InitialPrice)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.BidStep)
            @Html.TextBoxFor(m => m.BidStep, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BidStep)
        </div>
        <div class="row">
            @Html.LabelFor(m => m.DateOfAuction)
            @*@Html.TextBoxFor(m => m.DateOfAuction, new {@Value = DateTime.Now, id = "datepicker"})*@
            @Html.TextBoxFor(m => m.DateOfAuction, new { id = "datepicker", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DateOfAuction)
        </div>
        <br />
        <div class="row">
            @Html.Submit(new { @class = "btn btn-danger" })
        </div>
    }
</div>



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' }).val();
        });
    </script>
}


