@model global::Auction.Web.ViewModels.Auction.AuctionDetailsViewModel
@{
    ViewBag.Title = "AuctionDetails";
}

<h2>Upcoming Auctions</h2>
<div class="row">
    <div class="col">
        
            <div class="col col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong class="active">@Model.Name</strong> @Html.ActionLink("See details", "AuctionDetails", "PublicAuction", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })</h3>
                    </div>
                    <div class="panel-body">
                        <p class="alert-success">
                            @if (Model.Active)
                            {
                                @:Status: Active
                                }
                            else
                            {
                                @:Status: Not active
                                }
                        </p>
                        <p class="text-info">
                            Initial price: <b>@Model.InitialPrice $</b>
                        </p>
                        <p class="text-info">
                            Bid step: <b>@Model.BidStep $</b>
                        </p>
                        <p class="text-danger">
                            Date of auction: <b>@Model.DateOfAuction.ToShortDateString()</b>
                        </p>
                        <ul class="list-group">
                            @foreach (var item in Model.Items)
                            {
                                <li class="list-group-item" style="background-color: oldlace;">
                                    <p class="text-info">Item title: @item.Title @Html.ActionLink("See details", "ItemDetails", "PublicItem", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })</p>
                                    <p class="text-info">Author: @item.Author</p>
                                    <p class="text-info">Type: @item.Type</p>
                                    <p class="text-info">Descritpion: @item.Description</p>
                                    <div class="row">
                                        @foreach (var image in item.Images)
                                        {
                                            <div class="col">
                                                <div class="col col-md-6 text-center">
                                                    <img src="@Url.Action("GetImage", "Item", new { id = image.Id })" width="200" alt="Item image" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>



