@model Auction.Web.ViewModels.Auction.AuctionViewModel

@{
    ViewBag.Title = "ActiveAuction";
}

<h2>Active Auction</h2>

<h3>Details</h3>
<p>Name: @Model.Name</p>
<p>Date of Acution: @Model.DateOfAuction</p>
<p>Is active: @Model.Active</p>
<p>Initial price: @Model.InitialPrice</p>
<p>Bid step: @Model.BidStep</p>




