@model Auction.Web.ViewModels.Auction.AuctionViewModel

@{
    ViewBag.Title = "ActiveAuction";
}

<h2>Active Auction</h2>

<h3>Details</h3>
<p>Name: @Model.Name</p>
<p>Date of Acution: @Model.DateOfAuction</p>
<p>Is active: @Model.Active</p>
<p>Initial price: @Model.InitialPrice</p>
<p>Bid step: @Model.BidStep</p>

<div id="currentRooms">
    <div>
        Current rooms:
    </div>
</div>

<div>
    <input type="text" id="room" value="Room" />
    <button id="join-room">Join</button>
    <br />
    <input type="text" id="message" value="message" />
    <button id="send-message">Send</button>
    <br />
    <input type="text" id="room-message" value="message" />
    <button id="send-message-to-room">Send To Rooms Only</button>
</div>

<div id="messages">

</div>

<script>
    var rooms = [];

    $(document).ready(function () {

        $.connection.hub.start();

        var chat = $.connection.auctionRoom;

        $('#send-message').click(function () {

            var msg = $('#message').val();

            chat.server.sendMessage(msg);
        });

        $("#join-room").click(function () {

            var room = $('#room').val();

            chat.server.joinRoom(room);
        });

        $('#send-message-to-room').click(function () {

            var msg = $('#room-message').val();

            chat.server.sendMessageToRoom(msg, rooms);
        });

        chat.client.addMessage = addMessage;
        chat.client.joinRoom = joinRoom;
    });

    function addMessage(message) {
        $('#messages').append('<div>' + message + '</div>');
    }

    function joinRoom(room) {
        rooms.push(room);
        $('#currentRooms').append('<div>' + room + '</div>');
    }
</script>




