@model Auction.Web.Models.CreateAuctionModel

<h2>Create Auction</h2>
@if (TempData["Success"] != null)
{
    <div class="row">
        @TempData["Success"]
    </div>
}

@using (Html.BeginForm("CreateAuction", "Auction", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="row">
        @Html.LabelFor(m => m.ItemTitle)
        @Html.TextBoxFor(m => m.ItemTitle, new{@class = "form-control"})
        @Html.ValidationMessageFor(m => m.ItemTitle)
    </div>
    <div class="row">
        @Html.LabelFor(m => m.DateOfAuction)
        @*@Html.TextBoxFor(m => m.DateOfAuction, new {@Value = DateTime.Now, id = "datepicker"})*@
        @Html.TextBoxFor(m => m.DateOfAuction, new {id = "datepicker", @class="form-control"})
        @Html.ValidationMessageFor(m => m.DateOfAuction)
    </div>

    @Html.Submit()
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' }).val();
        });
    </script>
}


