@model global::Auction.Web.ViewModels.Item.ItemViewModel
@{
    ViewBag.Title = "Item Details";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="well">
        @Html.ActionLink("Back to items list", "ListAllItems", "PublicItem", new { @class = "btn btn-success btn-lg btn-block" })
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Title</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col">
                    <div class="col-md-6">
                        <div class="well well-sm">
                            Author:
                            @Model.Author
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well well-sm">
                            Item Type:
                            @Model.Type
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="well well-sm">
                            Description:
                            @Model.Description
                        </div>
                    </div>
                    <div class="col-md-12">
                        @foreach (var image in Model.Images)
                        {
                            <div class="well well-sm text-center">
                                <img src="@Url.Action("GetImage", "PublicItem", new { id = image.Id })" width="600" alt="Item image"/>
                                <br/>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="well">
        @Html.ActionLink("Back to items list", "ListAllItems", "PublicItem", new { @class = "btn btn-success btn-lg btn-block" })
    </div>

</div>


