@model IQueryable<global::Auction.Web.ViewModels.Item.ItemViewModel>

@{
    ViewBag.Title = "All Items";
    Layout = "~/Views/Shared/_LayoutGridMvc.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (TempData["Success"] != null)
{
    <div class="row alert alert-success">
        
        @TempData["Success"]
    </div>
}

@Html.Grid(Model).Columns(columns =>
{

    columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(200)
            .RenderValueAs(d =>
                @<b>
                    @if (this.User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Item", new { id= d.Id, area = "Admin" }, new { @class = "btn btn-warning" })
                        <span></span>
                        @Html.ActionLink("Delete", "Delete", "Item", new { id= d.Id, area = "Admin" }, new { @class = "btn btn-danger" })

                    }
                @Html.ActionLink("Details", "ItemDetails", "PublicItem", new { id = d.Id }, new { @class = "btn btn-info" })
            </b>);

    columns.Add(i => i.Title).Titled("Title").SetWidth(150);

    columns.Add(i => i.Type).Titled("Type").SetWidth(150);

    columns.Add(i => i.Author).Titled("Author").SetWidth(150);

    columns.Add(i => i.Images.Count).Titled("Number of Images").SetWidth(150);
    
    columns.Add(i => i.CreatedOn).Titled("Created on").SetWidth(150);


}).WithPaging(5).Sortable().Filterable().WithMultipleFilters()


